<h3>Edit Profile</h3>
<h4><%= @user.name %></h4>

<br />
<%= form_for(@user) do |f| %>
  <%= f.error_messages %>
  <%= f.label :email %>
  <%= f.text_field :email, :value => current_user.email %>
  <br />
  <%= f.submit "Submit" %>
<% end %>
