<h3>Welcome to Capital Tweet</h3>

<p>Capital Tweet allows you to link your Buffer account to a Google Spreadsheet, queue up entries in that spreadsheet, and ensure that your Buffer queue stays full in the event that you do not have time to make manual entries.  Login for both services is performed via OAuth.  Enjoy!</p>
<br />
<br />
<p>Current users on system:</p>
<% @users.each do |user| %>
  <p>User: <%=link_to user.name, edit_user_path(user) %></p>
<% end %>


