<%= link_to "Capital Tweet", root_path, :class => 'brand' %>
<ul class="nav">
	<li class="<%= 'active' if params[:action] == 'index' %>"> <%= link_to 'Home', root_path %> </li>
	<li class="<%= 'active' if params[:action] == 'about' %>"> <%= link_to 'About', about_path %> </li>
    <li class="<%= 'active' if params[:action] == 'panel' %>"> <%= link_to 'Buffer Your Google!', panel_path %> </li>
</ul>
<% if user_signed_in? %>
<div class="btn-group pull-right">
	<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
	              <i class="icon-user"></i> <%= current_user.name %>
	              <span class="caret"></span>
	            </a>
				<ul class="dropdown-menu">
				              <li><%=link_to "Edit Profile", edit_user_path(session[:user_id]) %></li>
				              <li class="divider"></li>
				              <li><%= link_to 'Sign Out', signout_path %></li>
				            </ul>
							<% else %>
								<ul class="nav pull-right">
							    <li>
							    <div><%= link_to 'Login', signin_path, :class => "btn" %></div>
							    </li>
								</ul>
							  <% end %>


